.vs
Calculator/bin
Calculator/obj
HelloApp/bin
HelloApp/obj
ParityCheck/bin
ParityCheck/obj
PhoneBook/bin
PhoneBook/obj
CurrencyConverter/bin
CurrencyConverter/obj
GuessTheNumber/bin
GuessTheNumber/obj
TextEditor/bin
TextEditor/obj